/* Global Layout Set-up */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


/*===== MOBILE VIEW =====*/


h1 {
    width: 100%;
    background: #d70230;
    padding: 40px 0;
    margin: 0;
    text-align: center;
    color: #f9dc5c;
    letter-spacing: 1px;
    font-family: 'Bungee', cursive;
    text-transform: capitalize;
}

h2 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: .5px;
    color: #d70230;
}

h2 {
    width: 90%;
    margin: 25px auto 5px;
    text-align: center;
}

p {
    width: 90%;
    margin: 0 auto 5px;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .25px;
    color: #1f356e;
    border-bottom: solid 2px #1f356e;
}

.divider {
    width: 90%;
    margin: 5px auto 0;
    border-bottom: dotted 2px #1f356e;
}

.contact, .newsletter{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 25px auto 35px;
    padding: 20px;
    border: none;
    background-color: whitesmoke;
}

legend {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    letter-spacing: .5px;
    color: #f9dc5c;
    background-color: #d70230;
    text-align: left;
    padding: 10px;
}

.contact label, .contact input, .contact select {
    width: 100%;
    margin: 15px 0 0 0;
    font-family: 'Oswald', sans-serif;
    color: #1f356e;
}

input::placeholder {
    text-align: right;
    padding-right: 15px;
    color: rgba(31, 53, 110, .5);
}

#zip {
    width: 50%;
}

.contact input, .contact select {
    padding: 15px 0 15px 15px;
    background: #f9dc5c;
    font-size: 16px;
    border: none;
    transition: all .5s;
}

.contact input:focus {
    background: #f9c35c;
}

.contact select {
    display: inline-block;
    height: 54px;
}


.newsletter p {
    width: 100%;
    text-align: left;
    border-bottom: none;
    padding: 0 0 15px 0;
}

.newsletter label {
    font-family: 'Oswald', sans-serif;
    font-size: 14px
}

.format {
    margin-top: 15px;
}

.checkbox, .radio {
    margin: 7px 0;
}

.textarea {
    margin-top: 25px;
}

.textarea textarea {
    width: 100%;
    height: 100px;
    margin-top: 15px;
    background: #f9dc5c;
    border: none;
}

button {
    width: 100%;
    margin: 35px 0 0;
    height: 50px;
    border-radius: 0;
    background: #1f356e;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

footer p {
    width: 100%;
    font-style: italic; 
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    
.wrapper {
    margin: 0 auto;
    max-width: 768px;
    text-align: center;
}
    
fieldset {
    padding: 20px;
}
    
.contact, .newsletter {
    display: inline;
    text-align: left;
    margin: 25px auto 35px;
}
    
.contact label {
    display: inline-block;
    width: 25%;
}
    
.contact input, .contact select {
    width: 70%;    
} 
    
#zip {
    width: 33%;    
}

}